:root{
  --back-color: rgba(255, 255, 255, 0.877);
  --button-color: rgb(150, 150, 150);
  --message-color: #414141c9;
  --question-color: rgb(0, 163, 169);
}
*{margin: 0;padding: 0;}
body{width: 100%;height: 100%; overflow: hidden;}
.container{
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: url("bg.jpg");
  background-size: contain;
}
header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vw;
  font-family: 'LeferiPoint-BlackA';
  font-size: 3vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.76);
  margin-bottom: 3vh;
  padding-top: 1vw;
  @media (max-width:768px){
    font-size:5vw;
  };
}
header > p {
  margin: 1% 1%;
}
main{
  width: 70dvw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3vw 3vw 0 0;
  background-color: rgba(255, 255, 255, 0.877);
  @media (max-width:768px){
    width: 95dvw;
  };
  background-color: var(--back-color);
}
main .icon-box{
  font-size: 7vw;
}
main .message-box{
  width: 65dvw;
  min-height: 40vh;
  max-height: 40%;
  font-family: 'Daehan-Bold';
  font-size: 1.5vw;
  overflow-y: scroll;
  border: 1.5px solid rgba(0, 0, 0, 0.445);
  border-radius: 2vw;
  padding: .5vw;
  gap: 0.5vw 0;
  @media (max-width:768px){
    width: 80dvw;
    max-height: 80dvh;
    min-height: 40vh;
    height: 85vh;
    font-size: 5vw;
  };
}
main .message-box::-webkit-scrollbar{
  width: 1vw;
  background-color:transparent;
}
main .message-box::-webkit-scrollbar-thumb{
  background-color: var(--message-color);
  border-radius: 30vw;
}
.message-box .question{
  text-align: right;
  color: var(--question-color);
  margin: .8vw 0;
}
main .text-box{
  width: 60dvw;
  height: 20dvh;
  display: flex;
  justify-content: center;
  margin: 1vw 0 2vw 0;
  background-color: rgba(127, 255, 212, 0.116);
  @media (max-width:768px){
    height: 5dvh;
    margin: 3vw 0 2vw 0;
  };
}
main .text-box .textarea{
  min-width: 40vw;
  min-height: 15dvh;
  font-family: 'HakgyoansimBareondotumB';
  font-size: 1.2vw;
  padding: .3vw .5vw;
  @media (max-width:768px){
    min-width: 70vw;
    width: 95dvw;
    min-height: 3dvh;
    height: 4dvh;
    font-size: 5.5vw;
  };
}
main .text-box .textarea::-webkit-scrollbar{
    width: 1vw;
  background-color:transparent;
}
main .text-box .textarea::-webkit-scrollbar-thumb{
    background-color: #414141c9;
  border-radius: 30vw;
}
.button{
  position: fixed;
  left: 72%;
  width: 5vw;
  height: 5vw;
  font-size: 3vw;
  text-align: center;
  aspect-ratio: 1;
  border-radius: 100%;
  border: .3vw solid black;
  background-color: var(--button-color);
  cursor: pointer;
  @media (max-width:768px){
    position:relative;
    left: 0%;
    width: 8vw;
    height: 8vw;
    font-size: 5vw;
    margin-left: .4vw;
  }
}



.modal{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.785);
  animation: fadein 2s;
  transition: background-color 3s ease;
}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
.modal > .modal-box{
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3vw;
  background-color: var(--back-color);
  @media (max-width:768px){
    width:85vw;
    height: 70vh;
  };
}
.modal > .modal-box h1{
  display: block;
  white-space: nowrap;
  font-size: 2vw;
  margin: 10%;
  @media (max-width:768px){
    font-size: 7vw;
  };
}
.modal > .modal-box > div{
  display: inline-block;
  font-size: 1.5vw;
  padding: 0 3vw;
  margin: auto;
  @media (max-width:768px){
    font-size: 5vw;
  };
}
.modal > .modal-box .modal-button{
  width: 6vw;
  aspect-ratio: 1.8;
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
  background-color: rgb(0, 255, 102);
  border: .8vw solid rgba(255, 255, 255, 0.421);
  border-radius: 3vw;
  margin: 8% 0 10% 0;
  @media (max-width:768px){
    width: 20vw;
    font-size: 7vw;
    border-radius: 10vw;
    margin: 15% 0 10% 0;
  };
}
.modal-button:hover{
  background: rgb(194, 194, 194) !important;
}



@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight:bold;
  font-style: normal;
}
@font-face {
  font-family: 'Daehan-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Daehan-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HakgyoansimBareondotumB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBareondotumB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}